<mat-toolbar>
    <span>Primas Log Details</span>
</mat-toolbar>




<table>
    <tr mat-header-row>
        <th>asfadfsdfs</th>
    </tr>

</table>

<mat-label>TODO: In Table, Materialized View to be implemented</mat-label>


<table border="1">
    <tr>
        <th>S.No</th>
        <th>Log Name</th>
        </tr>
    <tr>
        <th>1</th>
        <td>
            <a mat-button routerLink="/weighingBalance1BpLogs">Weighing Balance 1 BP Logs</a>
        </td>
        <td>
            <a mat-button routerLink="/weighingBalance2CrndLogs">Weighing Balance 2 CRND Logs</a>
        </td>
        <td>
            <a mat-button routerLink="/weighingBalance3ProdLogs">Weighing Balance 3 Prod Logs</a>
        </td>
        <td>
            <a mat-button routerLink="/weighingBalance4ProdLogs">Weighing Balance 4 Prod Logs</a>
        </td>
    </tr>
    
    <tr>
        <th>2</th>
        <td>
            <a mat-button routerLink="/vortexCrndLogs">Vortex CRND Logs</a>
        </td>
        <td>
            <a mat-button routerLink="/oilBath1CrndLogs">Oil Bath 1 CRND Logs</a>
        </td>
        <td>
            <a mat-button routerLink="/oilBath2CrndLogs">Oil Bath 2 CRND Logs</a>
        </td>
        <td>
            <a mat-button routerLink="/stirrer1CrndLogs">Stirrer 1 CRND Logs</a>
        </td>
    </tr>
    <tr>
        <th>3</th>
        <td>
            <a mat-button routerLink="/stirrer2CrndLogs">Stirrer 2 CRND Logs</a>
        </td>
        <td>
            <a mat-button routerLink="/autoclave1Logs">Autoclave 1 Logs</a>
        </td>
        <td>
            <a mat-button routerLink="/autoclave2Logs">Autoclave 2 Logs</a>
        </td>
        <td>
            <a mat-button routerLink="/centrifuge1BpLogs">Centrifuge 1 BP Logs</a>
        </td>
    </tr>
    <tr>
        <th>4</th>
        <td>
            <a mat-button routerLink="/eutechPh1BpLogs">Eutech PH 1 BP Logs</a>
        </td>
        <td>
            <a mat-button routerLink="/eutechPh2MrndLogs">Eutech PH 2 MRND Logs</a>
        </td>
        <td>
            <a mat-button routerLink="/fumeHoodCrndLogs">Fume Hood CRND Logs</a>
        </td>
        <td>
            <a mat-button routerLink="/incubator1MrndLogs">Incubator 1 MRND Logs</a>
        </td>
    </tr>
    <tr>
        <th>5</th>
        <td>
            <a mat-button routerLink="/laminarAirFlowChamper1BpLogs">Laminar Airflow Champer 1 BP Logs</a>
        </td>
        <td>
            <a mat-button routerLink="/laminarAirFlowChamper2MrndLogs">Laminar Airflow Champer 2 MRND Logs</a>
        </td>
        <td>
            <a mat-button routerLink="/hotAirOvenCrndLogs">Hot Air Oven CRND Logs</a>
        </td>
        <td>
            <a mat-button routerLink="/kfTitratorQcLogs">KF Titator QC Logs</a>
        </td>
    </tr>
    <tr>
        <th>6</th>
        <td>
            <a mat-button routerLink="/heatingMantleCrndLogs">Heating Mantle CRND Logs</a>
        </td>
        <td>
            <a mat-button routerLink="/microscope1BpLogs">Microscope 1 BP Logs</a>
        </td>
        <td>
            <a mat-button routerLink="/microscope2BpLogs">Microscope 2 BP Logs</a>
        </td>
        <td>
            <a mat-button routerLink="/shaker1BpLogs">Shaker 1  BP Logs</a>
        </td>
    </tr>
    <tr>
        <th>7</th>
        <td>
            <a mat-button routerLink="/shaker2BpLogs">Shaker 2  BP Logs</a>
        </td>
        <td>
            <a mat-button routerLink="/shaker3MrndLogs">Shaker 3  MRND Logs</a>
        </td>
        <td>
            <a mat-button routerLink="/deepFreezerMinus20C1BpLogs">Deep Freezer Minus 20 C 1 BP Logs</a>
        </td>
        <td>
            <a mat-button routerLink="/ultrasonicCleanerCrndLogs">Ultrasonic Cleaner CRND Logs</a>
        </td>
    </tr>
    <tr>
        <th>8</th>
        <td>
            <a mat-button routerLink="/vacuumOvenCrndLogs">Vacuum Oven CRND Logs</a>
        </td>
        <td>
            <a mat-button routerLink="/fridge1BpLogs">Fridge 1 BP Logs</a>
        </td>
        <td>
            <a mat-button routerLink="/hplcQcqaLogs">HPLC QC/QA Logs</a>
        </td>
        <td>
            <a mat-button routerLink="/rotavaporCrndLogs">Rotavapor CRND Logs</a>
        </td>
    </tr>

</table>