<mat-toolbar>
    <span>Primas Data Sheet Details</span>
</mat-toolbar>




<table>
    <tr mat-header-row>
        <th>asfadfsdfs</th>
    </tr>

</table>

<mat-label>TODO: In Table, Materialized View to be implemented</mat-label>

<table border="1">
    <tr>
        <th>S.No</th>
        <th>Data Sheet Name - ETP & RO </th>
        </tr>
    <tr>
        <th>1</th>
        <td>
            <a mat-button routerLink="/dailyWaterAnalysisTds">Daily Water Analysis - TDS</a>
        </td>
        <td>
            <a mat-button routerLink="/etpBatchWorkSheet">ETP Batch Work Sheet</a>
        </td>
        <td>
            <a mat-button routerLink="/etpPlantDailyMaintenanceSheet">ETP Plant Daily Maintenance Sheet</a>
        </td>

    </tr>
</table>
<br>

<table border="1">
    <tr>
        <th>S.No</th>
        <th>QC/QA</th>
        </tr>
    <tr>
        <th>1</th>
        <td>
            <a mat-button routerLink="/houseKeepingRecord">House Cleaning Record</a>
        </td>
        <td>
            <a mat-button routerLink="/qcMicrobiologyEnvironmentalTestingRecord">QC Microbiology Environmental Testing Record</a>
        </td>
        <td>
            <a mat-button routerLink="/qcMicrobiologyLafTestingRecord">QC Microbiology LAF Testing Record</a>
        </td>
        <td>
            <a mat-button routerLink="/qcMicrobiologyMicrobialTestingRecord">QC Microbiology Microbial Testing Record</a>
        </td>
    </tr>

    <tr>
        <th>2</th>
        <td>
            <a mat-button routerLink="/qcMicrobiologyOilTestingRecord">QC Microbiology Oil Testing Record</a>
        </td>
        <td>
            <a mat-button routerLink="/qcMicrobiologyWaterTestingRecord">QC Microbiology Water Testing Record</a>
        </td>
    </tr>
</table>