<mat-toolbar>
    <span>{{fridge1BpHeadingLabel}}
        <button mat-raised-button matTooltip={{toolTipMsg}}>{{helpLabel}}</button>
    </span>
  </mat-toolbar>
 
  <mat-card class="my-card">
    <mat-card-content>
       <form class="fridge1Bp-form" [formGroup]="fridge1BpForm" 
       (ngSubmit)="save()" novalidate>

            <!--Date-->
            <mat-form-field class="full-width" appearance="outline">
                <mat-label>{{dateLabel}}</mat-label>
                    <input matInput [matDatepicker]="picker" name="date" placeholder={{dateLabel}}  
                    required minlength = {{dateMinLength}} maxlength = {{dateMaxLength}} 
                    formControlName="date" pattern="[0-9]*">
                        <mat-hint>{{dateFormatLabel}}</mat-hint>
                        <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-datepicker #picker></mat-datepicker>
                        <mat-error >
                            {{errorMessage("date","")}}
                        </mat-error>
            </mat-form-field>

            <!--Time-->
            <mat-form-field class="full-width" appearance="outline">
                <mat-label>{{timeLabel}}</mat-label>
                <input  matInput  value=""   placeholder={{timeLabel}}  name="time"  
                required minlength = {{timeMinLength}} maxlength = {{timeMaxLength}} 
                formControlName="time" pattern="[0-9]*">
                    <mat-error >
                        {{errorMessage("time","")}}
                        </mat-error>
            </mat-form-field>

            <!--Sample-->
            <mat-form-field class="full-width" appearance="outline">
                <mat-label>{{sampleLabel}}</mat-label>
                <input  matInput  value=""   placeholder={{sampleLabel}}  name="sample"  
                required minlength = {{sampleMinLength}} maxlength = {{sampleMaxLength}}  
                formControlName="sample" pattern="[0-9]*">
                    <mat-error>
                        {{errorMessage("sample","")}}
                        </mat-error>
            </mat-form-field>

            <!--Actual Temperature-->
            <mat-form-field class="full-width" appearance="outline">
                <mat-label>{{actualTemperatureLabel}}</mat-label>
                <input  matInput  value=""   placeholder={{actualTemperatureLabel}}  name="actualTemperature"  
                required minlength = {{actualTemperatureMinLength}} maxlength = {{actualTemperatureMaxLength}}  
                formControlName="actualTemperature" pattern="[0-9]*">
                    <mat-error>
                        {{errorMessage("actualTemperature","")}}
                        </mat-error>
            </mat-form-field>


            <!--In/Out-->
            <mat-form-field class="full-width" appearance="outline">
                <mat-label>{{inOutLabel}}</mat-label>
                <input  matInput  value=""   placeholder={{inOutLabel}}  name="inOut"  
                required minlength = {{inOutMinLength}} maxlength = {{inOutMaxLength}}  
                formControlName="inOut" pattern="[0-9]*">
                    <mat-error>
                        {{errorMessage("inOut","")}}
                        </mat-error>
            </mat-form-field>

            <!--Employee Code-->
            <mat-form-field class="full-width" appearance="outline">
                <mat-label>{{employeeCodeLabel}}</mat-label>
                <input  matInput  value=""   placeholder={{employeeCodeLabel}}  name="empCode"  
                required minlength = {{employeeCodeMinLength}} maxlength = {{employeeCodeMaxLength}}  
                formControlName="empCode" pattern="[a-zA-Z0-9 ]*">
                    <mat-error>
                        {{errorMessage("empCode","")}}
                        </mat-error>
            </mat-form-field>

            <mat-card-actions class="fridge1BpTable">
                <button mat-raised-button (click)="save()" color="primary">
                    {{submitLabel}}
                </button>
              </mat-card-actions>
        </form>
    </mat-card-content>
 </mat-card>
 